h2.title, .chart {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.location{
    padding-bottom: 2vh;
}

div.mainInfo > p {
    margin-bottom: 0px;
    text-align: left;
    font-weight: bold;
}

p.loading-text {
    font-size: x-large;
    font-weight: bold;
    padding-top: 50vh;
}

.container {
    padding-bottom: 5%;
}

@media (max-width: 768px) {
    .weatherItem {
        padding-right: 0.5% !important;
        padding-left: 0.5% !important;
    }
    .weatherItem div:first-child  {
        display: none;
    }
    .weatherItem div:nth-child(2){
        display: none;
    }
}

@media (min-width: 768px){
    .weatherItem div:nth-child(3){
        display: none;
    }
}



