
// p, div.weatherGrid{
//     margin-bottom: 0px;
// }

div.gridItem > p, div.tooltipStyle > p {
    margin-bottom: 0px;
    text-align: left;
}

div.flexContainer {
    display: flex;
}

div.flexContainer > p {
    padding-left: 3px;
}

@media (max-width: 768px){
    .gridTemperature span:nth-child(2){
        display: none;
    }
}

