.App {
  text-align: center;
}

.container {
  padding-top: 2vh;
}

/* custom theme */

$base-color: #425F57;
$secondary-color: #A8E890;
$thirdColor: #749F82;
$fourtholor: #CFFF8D;

.btn-flat {
  color:$base-color !important;
  border-color:$base-color !important;
}

.btn-flat:hover, .btn-flat:active {
  background-color: $secondary-color !important;
  border-color:$secondary-color !important;
}

.form-check-input:checked {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.wonnaBeHeader {
  color: white;
  background-color:$base-color;
  padding-top: 1%;
  padding-bottom: 1%;
}

// .wonnaBeFooter {
//   position:absolute;
//   bottom:0px;
//   width:100%;
//   text-align: right;
//   padding-right: 10%;
//   color: white;
//   background-color:$base-color;
//   padding-top: 0.5%;
//   padding-bottom: 0.5%;
// }













